:root {
  --main-color: #230000;
  --second-color: #7E7575;
  --main-bg-color: #FFFAF2;
  --orange: #FF7F00;
  --green: #87D2AA;
}

body {
  color: var(--main-color);
  font: 14px/140% 'Montserrat', sans-serif;
  letter-spacing: -0.02em;
  background-color: #FFFAF2;
  padding: 2% 0;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

h5,
.acc-btn-text,
.story-p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* CONTAINERS */
.container {
  margin-bottom: 80px;
}

.block-wrapper {
  padding: 48px 24px;
  border-radius: 32px
}

.info-block {
  letter-spacing: -0.03em;
  padding-left: 24px;
  padding-right: 24px;
}

.teach-method,
.trial-session-container {
  background-color: #FFE2C5;
}

.card-container,
.certificate-container {
  background-color: var(--green);
}

/* HEADER */
.block-p {
  color: var(--second-color);
}

.logo {
  width: 64px;
  line-height: 110%;
}

/* NAVIGATION */

.navbar {
  margin-bottom: 48px;
}

.navbar-light {
  color: var(--main-color);
}


.fab-inner>a,
.nav-item>.nav-link {
  color: inherit;
}

.navbar-burger-icon {
  background-image: url("../images/burger-menu.svg");
}

/* BUTTONS */
button {
  border: none;
}

.main-btn {
  color: #FFFAF2;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--main-color);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-btn:focus {
  box-shadow: none;
}

.btn:hover {
  background-color: var(--orange);
}

.acc-btn {
  color: var(--main-color);
  width: 100%;
  padding: 16px 14px 20px 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* IMAGES */
.img-contact {
  width: 36px;
  height: 36px;
  margin-right: 6px;
}

.img-feature,
.img-old-young,
.story-main-img {
  filter: drop-shadow(0 0 60px rgba(244, 162, 35, 0.8));
}

.story-image {
  margin: 24px 0;
}

.story-main-img {
  margin-bottom: 53px;
}

.img-icon {
  width: 30%;
}

.img-feature {
  width: 80px;
  height: 80px;
}

.img-old-young {
  width: 61px;
  height: 61px;
}

.img-infant {
  left: 12px;
}

.img-review {
  width: 80px;
  height: 80px;
}

.img-quote {
  width: 24px;
  height: 16px;
}

.rev-item-header {
  line-height: 400%;
}

.img-shadow-orange {
  filter: drop-shadow(0 0 20px rgba(244, 162, 35, 0.8));
}

.img-shadow-gray {
  filter: drop-shadow(0 0 20px rgba(126, 117, 117, 0.8));
}

.gift-img,
.card-img {
  width: 64px;
  height: 64px;
  position: absolute;
  filter: drop-shadow(0 0px 20px rgba(5, 100, 28, 0.8));
}

.gift-img {
  top: -75px;
}

.card-img {
  left: 25%;
}


.arrow-img-button {
  padding: 13px 16px 16px 16px;
  background-color: var(--main-color);
}

.arrow-img-button:hover {
  background-color: var(--orange);
}

/* CAROUSEL */
.review-inner {
  width: 100%;
  margin: 0 auto;
}

.review-item {
  height: 390px;
  padding: 10% 0;
  background-color: var(--green);
  border-radius: 48px;
}

.rev-item-pad {
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-m {
  margin-bottom: 134px;
}

.carousel-control-p {
  left: -75px;
}

.carousel-control-n {
  right: -75px;
}

.carousel-i {
  bottom: -48px;
}

.carousel-i [data-bs-target] {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.6s ease;
}

.carousel-i .active {
  background-color: var(--main-color);
}

.studio-control-p,
.studio-control-n,
.carousel-control-p,
.carousel-control-n {
  opacity: 1;
}

.studio-control-p {
  left: -150px;
}

.studio-control-n {
  right: -150px;
}

/* FAQ */

.faq-item {
  color: var(--main-color);
  border-radius: 48px;
  border: 2px solid darkgreen;
}

.acc-btn .acc-btn-text {
  color: var(--main-color);
  line-height: 32px;
  margin-bottom: 0;
}

.faq-button {
  background-color: inherit;
}

.faq-button:focus {
  box-shadow: none;
}

.faq-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
}

.faq-button:not(.collapsed)::after {
  filter: brightness(0%);
}

.acc-btn-text {
  display: block;
}

.content {
  color: var(--main-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.content p {
  padding: 8px 24px 16px 24px;
}

.modal-icon,
.acc-icon {
  display: inline-block;
  background-color: var(--main-color);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url("../images/plus-m.svg");
  background-repeat: no-repeat;
  background-position: 9px 9px;
  transition: all 0.3s ease-in;
}

.acc-icon:hover,
.active .acc-icon {
  background-color: var(--orange);
  transform: rotate(45deg);
}

/* CONTACT PAGE */
.contact-inner .contact-item:nth-child(1) h5,
.contact-inner .contact-item:nth-child(2) h5 {
  line-height: 36px;
}

.contact-item {
  margin-bottom: 24px;
}

.contact-map,
.service-item,
.card-item-block {
  border-radius: 32px;
}

.contact-map {
  border: 2px solid #05641C;
}

/* SERVICES PAGE */
.service-item {
  padding: 16px;
  border: 2px solid darkgreen;
}

.service-block {
  text-align: end;
}

.card-item-block {
  padding: 24px 0;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #FFFAF2;
}

ul {
  list-style: none;
}

.card-list-l {
  color: var(--second-color);
}

.card-list-r {
  color: var(--main-color);
  font-weight: 700;
}

/* MY STORY PAGE */
.story-intro {
  color: var(--second-color);
  border-left: 3px solid var(--green);
}

/* TEACH-METHOD PAGE */
.teach-method-item {
  margin-bottom: 16px;
}

/* FORMS */
.input-inner {
  margin-top: 24px;
}

.input-text,
.input-item {
  background-color: #FFFAF2;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.input-item:-webkit-autofill,
.input-item:-webkit-autofill:hover,
.input-item:-webkit-autofill:focus,
.input-item:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #FFFAF2 inset !important;
  transition: none;
}

.input-text:focus,
.input-item:focus {
  background-color: #FFFAF2;
  box-shadow: 0 0 0 0.12rem rgba(255, 127, 0, 1);
}

.input-item:hover,
.input-item:focus,
.input-item:active {
  border: none;
}

/* MODAL WINDOW */
.success-page {
  background: var(--green);
}

.order-lesson {
  background: #FFE2C5;
}

.success-page,
.order-lesson {
  padding: 7%;
  border-radius: 50px;
}

.modal-icon {
  transform: rotate(45deg);
}

.modal-icon:hover {
  background-color: var(--orange);
}

.nav-item>.active-page,
.fab-inner>a:hover,
.nav-item>.nav-link:hover {
  color: var(--orange);
  font-weight: 700;
}

.fa-item:hover {
  filter: brightness(0) saturate(100%) invert(54%) sepia(94%) saturate(3561%) hue-rotate(360deg) brightness(101%) contrast(109%);
}

/* MEDIA QUERIES */
@media (min-width:768px) {
  body {
    font-size: 16px;
  }

  .logo {
    width: 84px;
  }

  .service-block {
    text-align: start;
  }

  .contact-item {
    margin-bottom: 0;
  }

  .card-img {
    width: 98px;
    height: 98px;
  }

  .img-review {
    width: 148px;
    height: 148px;
  }

  .rev-item-header {
    line-height: 1;
  }

  .img-quote {
    width: 30px;
    height: 30px;
  }

  .review-item {
      min-height: 420px;
  }


}

@media (min-width:992px) {
  h3 {
    font-size: 48px;
    margin-bottom: 72px;
    line-height: 100.18%;
  }

  h5,
  .acc-btn-text,
  .story-p {
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 32px;
  }

  .navbar {
    margin-bottom: 104px;
  }

  /* CONTAINERS */

  .info-block {
    padding-left: 105px;
    padding-right: 105px;
  }

  .container {
    margin-bottom: 200px;
  }

  .block-wrapper {
    padding: 144px 105px;
  }

  .card-container,
  .certificate-container {
    border-radius: 88px;
  }

  /* HEADER */

  .logo {
    width: 91px;
  }

  .main-btn {
    font-size: 18px;
    padding: 17px 24px;
  }

  /* CAROUSEL */
  .review-inner {
    width: 83%;
  }

  .carousel-m {
    margin-bottom: 284px;
  }

  .carousel-i [data-bs-target] {
    width: 16px;
    height: 16px;
  }

  .carousel-i {
    bottom: -64px;
  }

  /* MODAL WINDOW */
  .modal-icon,
  .acc-icon {
    height: 56px;
    width: 56px;
    background-image: url("../images/plus.svg");
    background-position: 16px 16px;
  }

  .acc-btn .acc-btn-text {
    line-height: 56px;
  }

  .acc-btn {
    padding: 24px 22px 24px 48px;
  }

  .content p {
    padding: 8px 162px 25px 48px;
  }

  /* FORMS */
  .input-inner {
    margin-top: 72px;
    margin-bottom: 32px;
  }

  .input-text,
  .input-item {
    border-radius: 8px;
    padding: 17px 24px;
  }

  /* IMAGES */
  .story-image {
    margin: 72px 0;
  }

  .img-contact {
    width: 64px;
    height: 64px;
    margin: 0 24px;
  }

  .img-feature {
    width: 128px;
    height: 128px;
  }

  .img-old-young {
    width: 106px;
    height: 106px;
  }

  .img-infant {
    left: 12px;
  }

  .img-old-woman {
    right: 12px;
  }

  .img-quote {
    width: 51px;
    height: 51px;
  }

  .gift-img {
    top: -190px;
    left: -40px;
  }

  .gift-img,
  .card-img {
    width: 128px;
    height: 128px;
  }

  .card-img {
    left: 25%;
  }

  .img-review {
    width: 198px;
    height: 198px;
  }


  /* CONTACT PAGE */
  .contact-map {
    border-radius: 48px;
  }

  .contact-item h5 {
    font-size: 25px;
  }

  .contact-inner .contact-item:nth-child(1) h5,
  .contact-inner .contact-item:nth-child(2) h5 {
    line-height: 63px;
  }

  /* TECH-METHOD-PAGE */
  .teach-method-item {
    margin-bottom: 100px;
  }

  .teach-method-item h5 {
    margin-bottom: 16px;
  }

  .card-item-block {
    padding: 48px 0;
    margin-top: 48px;
    margin-bottom: 32px;
    border-radius: 50px;
  }

  .review-item {
      min-height: 450px;
  }
}

@media (min-width:1200px) {
  body {
    font-size: 20px;
  }


  .logo {
    width: 98px;
  }

  .btn-align {
    text-align: end;
  }

  .brand-name {
    order: -1;
    text-align: left;
  }

  .service-item {
    padding: 47px 104px;
    border: 2px solid darkgreen;
    border-radius: 32px;
  }

  .fab-inner {
    text-align: right;
  }

  .footer-nav {
    flex-direction: row !important;
  }

  .review-item {
      min-height: 535px;
  }
}

@media (min-width: 1400px) {


  .logo {
    width: 125px;
  }

  .contact-item h5 {
    font-size: 36px;
  }
}
