body {
  color: #230000;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFAF2;
  padding: 2% 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.container-fluid {
  padding: 0 20%;
}

.container {
  margin-bottom: 80px;
}

.carousel-m {
  margin-bottom: 134px;
}

/* Typography */

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

h5,
.story-p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.img-contact {
  width: 36px;
  height: 36px;
  margin-right: 6px;
}

.contact-inner .contact-item:nth-child(1) h5,
.contact-inner .contact-item:nth-child(2) h5 {
  line-height: 36px;
}

.contact-item {
  margin-bottom: 24px;
}

.img-feature,
.img-old-young,
.story-main-img {
  filter: drop-shadow(0 0 60px rgba(244, 162, 35, 0.8));
}

.story-main-img {
  margin-bottom: 53px;
}

.contact-map {
  /* border-radius: 48px; */
  border-radius: 32px;
}

/* Links */

.fab-inner > a,
.nav-item > .nav-link {
  color: inherit;
}

.nav-item > .active-page,
.fab-inner > a:hover,
.nav-item > .nav-link:hover {
  color: #FF7F00;
  font-weight: 700;
}

.navbar-burger-icon {
  background-image: url("../images/burger-menu.svg");
}

/* Buttons */

.main-btn {
  color: #FFFAF2;
  font-size: 12px;
  font-weight: 700;
  background-color: #230000;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}




.main-btn:focus {
  box-shadow: none;
}

.btn:hover {
  background-color: #FF7F00;
}

.faq-button {
  background-color: inherit;
}

.faq-button:focus {
  box-shadow: none;
}

.faq-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
}

.faq-button:not(.collapsed)::after {
  filter: brightness(0%);
}

.navbar-light {
  color: #230000;
}

/* Images */

.img-icon {
  width: 30%;
}

.img-feature {
  width: 80px;
  height: 80px;
}

.img-old-young {
  width: 61px;
  height: 61px;
}

.img-infant {
  left: 12px;
}

.img-review {
  width: 198px;
  height: 198px;
}

.gift-img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -75px;
  filter: drop-shadow(0 0px 20px rgba(5, 100, 28, 0.8));
}

.arrow-img-button {
  padding: 13px 16px 16px 16px;
  background-color: #230000;
}

.arrow-img-button:hover {
  background-color: #FF7F00;
}

.studio-control-p,
.studio-control-n,
.carousel-control-p,
.carousel-control-n {
  opacity: 1;
}

.studio-control-p {
  left: -150px;
}

.studio-control-n {
  right: -150px;
}

.carousel-control-p {
    left: -75px;
}

.carousel-control-n {
  right: -75px;

}

.carousel-i {
  bottom: -48px;
}

.carousel-i [data-bs-target] {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid #230000;
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.6s ease;
}

.carousel-i .active {
  background-color: #230000;
}

/* Header */

.navbar {
  margin-bottom: 48px;
}

.block-p {
  color: #7E7575;
}

.main-header {
  color: #FFFAF2;
  font-weight: 700;
  text-align: center;
  font-size: 75px;
  background-color: #FF7F00;
  text-transform: uppercase;
  border-radius: 30px;
}

.slogan {
  font-size: 27px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  width: 64px;
  line-height: 110%;
}

/* Review */

.review-inner {
    width: 100%;
    margin: 0 auto;
}

.review-item {
  padding: 10% 0;
  background-color: #87D2AA;
  border-radius: 48px;
}

.rev-item-pad {
  padding-left: 20px;
  padding-right: 20px;
}

.control-color {
  background-color: black;
  border-radius: 50%;
}

/* FAQ */

.faq-item {
  color: #230000;
  border-radius: 48px;
  border: 2px solid darkgreen;
}

.acc-btn {
  color: #230000;
  width: 100%;
  padding: 16px 14px 20px 24px;;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.acc-btn h5 {
  color: #230000;
  line-height: 32px;
  margin-bottom: 0;
}

.content {
  color: #230000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.content p {
  padding: 8px 24px 16px 24px;
}

.modal-icon,
.acc-icon {
  display: inline-block;
  background-color: #230000;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url("../images/plus-m.svg");
  background-repeat: no-repeat;
  background-position: 9px 9px;
  transition: all 0.3s ease-in;
}

.modal-icon {
  transform: rotate(45deg);
}

.modal-icon:hover {
    background-color: #FF7F00;
}

button {
  border: none;
}

.acc-icon:hover,
.active .acc-icon {
  background-color: #FF7F00;
  transform: rotate(45deg);
}

/* Services */

.service-item {
  padding: 16px;
  border: 2px solid darkgreen;
  border-radius: 32px;
}

.service-block {
  text-align: end;
}

/* Certificate */

.info-block {
  letter-spacing: -0.03em;
  padding-left: 24px;
  padding-right: 24px;
}

.card-container {
  padding: 48px 0;
  border-radius: 32px;
}

.contact-container,
.my-studio-container,
.story-container,
.teach-method,
.trial-session-container,
.certificate-container {
  padding: 48px 24px;
  border-radius: 32px
}

.my-studio-container,
.story-container {
  padding-top: 0;
  padding-bottom: 0;
}

.teach-method,
.card-container,
.trial-session-container {
  background-color: #FFE2C5;
}

.story-image {
  margin: 24px 0;
}

.teach-method-item {
  margin-bottom: 16px;
}

.certificate-container {
  background-color: #87D2AA;
}

.input-inner {
  margin-top: 24px;
}

.input-text,
.input-item {
  background-color: #FFFAF2;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.input-item:-webkit-autofill,
.input-item:-webkit-autofill:hover,
.input-item:-webkit-autofill:focus,
.input-item:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #FFFAF2 inset !important;
    transition: none;
}

.input-text:focus,
.input-item:focus {
  background-color: #FFFAF2;
  box-shadow: 0 0 0 0.12rem rgba(255, 127, 0, 1);
}

.input-item:hover,
.input-item:focus,
.input-item:active {
  border: none;
}

/* Card */

.card-item {
  background-color: #230000;
  margin-top: 32px;
  color: white;
}

.card-item-block {
  height: 47px;
}

.card-item-block h5 {
  font-size: 12px;
}

/* My Story */

.story-intro {
  color: #7E7575;
  border-left: 3px solid #87D2AA;
}

/* Modal window */

.success-page {
  background: #87D2AA;
}

.order-lesson {
  background: #FFE2C5;
}

.success-page,
.order-lesson {
  padding: 7%;
  border-radius: 50px;
}

/* Media Queries */

@media (min-width:768px) {
  body {
    font-size: 16px;
  }
  .main-header {
    font-size: 145px;
    border-radius: 35px;
  }
  .slogan {
    font-size: 55px;
  }
  .logo {
    width: 84px;
  }
  .service-block {
    text-align: start;
  }
  .contact-item {
    margin-bottom: 0;
  }
}

@media (min-width:992px) {
  h3 {
    font-size: 48px;
    margin-bottom: 72px;
    line-height: 100.18%;
  }
  h5,
  .story-p {
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 32px;
  }
  .navbar {
    margin-bottom: 124px;
  }
  .container {
    margin-bottom: 200px;
  }
  .carousel-m {
    margin-bottom: 284px;
  }
  .main-header {
    font-size: 175px;
    border-radius: 45px;
  }
  .slogan {
    font-size: 75px;
  }
  .logo {
    width: 91px;
  }
  .review-inner {
      width: 83%;
  }
  .carousel-i [data-bs-target] {
    width: 16px;
    height: 16px;
  }
  .carousel-i {
    bottom: -64px;
  }
  .modal-icon,
  .acc-icon {
    height: 56px;
    width: 56px;
    background-image: url("../images/plus.svg");
    background-position: 16px 16px;
  }
  .acc-btn h5 {
    line-height: 56px;
  }
  .main-btn {
    font-size: 18px;
    padding: 17px 24px;
  }
  .input-inner {
    margin-top: 72px;
    margin-bottom: 32px;
  }
  .input-text,
  .input-item {
    border-radius: 8px;
    padding: 17px 24px;
  }
  .info-block {
    padding-left: 105px;
    padding-right: 105px;
  }
  .card-container {
    padding: 144px 0;
  }
  .contact-container,
  .my-studio-container,
  .story-container,
  .teach-method,
  .trial-session-container,
  .certificate-container {
    padding: 144px 105px;
  }
  .my-studio-container,
  .story-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-container,
  .certificate-container {
    border-radius: 88px;
  }
  .card-item-block {
    height: 117px;
  }
  .card-item-block h5 {
    font-size: 36px;
  }
  .acc-btn {
    padding: 24px 22px 24px 48px;
  }
  .content p {
    padding: 8px 162px 25px 48px;
  }
  .teach-method-item {
    margin-bottom: 100px;
  }
  .teach-method-item h5 {
      margin-bottom: 16px;
  }
  .story-image {
    margin: 72px 0;
  }
  .contact-map {
    border-radius: 48px;
  }
  .contact-item h5 {
    font-size: 25px;
  }
  .contact-inner .contact-item:nth-child(1) h5,
  .contact-inner .contact-item:nth-child(2) h5 {
    line-height: 63px;
  }
  /* Images */
  .img-contact {
    width: 64px;
    height: 64px;
    margin: 0 24px;
  }
  .img-feature {
    width: 128px;
    height: 128px;
  }

  .img-old-young {
    width: 106px;
    height: 106px;
  }

  .img-shadow-orange {
    filter: drop-shadow(0 0 20px rgba(244, 162, 35, 0.8));
  }

  .img-shadow-gray {
    filter: drop-shadow(0 0 20px rgba(126, 117, 117, 0.8));
  }

  .img-infant {
    left: 12px;
  }

  .img-old-woman {
    right: 12px;
  }

  .img-quote {
    width: 51px;
    height: 51px;
  }
  .gift-img {
    width: 128px;
    height: 128px;
    position: absolute;
    top: -190px;
    left: -40px;

  }
}

@media (min-width:1200px) {

  body {
    font-size: 20px;
  }
  .main-header {
    font-size: 235px;
    border-radius: 45px;
  }
  .slogan {
    font-size: 75px;
  }
  .logo {
    width: 98px;
  }
  .footer-nav {
    flex-direction: row !important;
  }
  .fab-inner {
    text-align: right;
  }
  .brand-name {
   order: -1;
   text-align: left;
  }
  .btn-align {
    text-align: end;
  }
  .service-item {
    padding: 47px 104px;
    border: 2px solid darkgreen;
    border-radius: 32px;
  }
}

@media (min-width: 1400px) {
  .main-header {
    font-size: 280px;
    border-radius: 80px;
  }
  .slogan {
    font-size: 100px;
  }
  .logo {
    width: 125px;
  }
  .contact-item h5 {
    font-size: 36px;
  }
 }
